.row.section-header
	.col-sm-6.section-title
		h2 Messages
	.col-sm-6.section-controls
		button.btn.btn-primary.btn-sm Compose
.row
	.col-sm-12
		table.table.table-hover.messages
			tbody
				tr(
					ng-class='{"unread": !message.read}'
					ng-click='open(message)'
					ng-repeat='message in messages track by $index'
				)
					td.from(ng-bind='message.from')
					td.subject
						span(ng-bind='message.subject')
						|  - 
						span.preview(ng-bind='message.body')
					td.date(ng-bind='message.date')
