.row.section-header
	.col-sm-6.section-title
		h2 Message
	.col-sm-6.section-controls
		button.btn.btn-primary.btn-sm Reply

.row
	.col-sm-12
		form.form
			.form-group
				.row
					.col-sm-2: label From: 
					.col-sm-10: .form-control-static OpenBazaar
				.row
					.col-sm-2: label Subject: 
					.col-sm-10: .form-control-static OpenBazaar 0.5 Release

		.block-shade
			h1 Welcome
			p.lead You are now ready to join the world on a mission of freedom. Freedom to purchase, sell, and trade.
			h2 Some of the cool features we are working on:
			ul
				li Secure peer to peer merchants
				li  Anonymous ratings system
				li Ricardian Contracts for various types of deals
				li Third-party arbitration system
				li  Encrypted messaging and chat
			hr
			.text-center
				h2 Want to help us change the world?
				h3 Visit us at 
					a(href='https://github.com/OpenBazaar/OpenBazaar' target='_blank') GitHub
