// dependencies
@import "../../../../node_modules/material-colors/dist/colors";
@import "default/fonts";

// overrides
@import "default/overrides";

$brand-primary: $md-blue-500;
$brand-secondary: $md-blue-900;
$brand-success: #5cb85c;
$brand-info: $md-blue-100;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$state-success-text: $md-light-green-500;
$state-success-bg: $md-light-green-50;

$state-info-text: $md-blue-300;
$state-info-bg: $md-blue-50;

$state-warning-text: $md-deep-orange-400;
$state-warning-bg: $md-deep-orange-50;

$state-danger-text: $md-red-400;
$state-danger-bg: $md-red-50;

$input-border-focus: #aaa;
$pre-bg: $md-grey-50;
$pre-border: $md-grey-100;

// components
$scrollbar-width: 15px;
$scrollbar-track-color: rgba(0, 0, 0, 0.1);
$scrollbar-thumb-color: rgba(0, 0, 0, 0.1);
