.topbar
	.logo
		strong Open
		| Bazaar
	.status.fadeOut(ng-if='status.running')
		| {{status.text}}
		img(src='images/three-dots.svg')
	.shade
	.controls
		i.mdi.mdi-minus-box(ng-click='minimize()')
		i.mdi.mdi-plus-box(ng-click='maximize()')
		i.mdi.mdi-close-box(ng-click='close()')