/**
 * Roboto from http://brick.im
 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: local('Roboto-Thin'), url(../fonts/roboto/200.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto-Light'), url(../fonts/roboto/300.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Regular'), url(../fonts/roboto/400.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto-Bold'), url(../fonts/roboto/700.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    src: local('Roboto-ThinItalic'), url(../fonts/roboto/200i.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto-Italic'), url(../fonts/roboto/400i.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto-BoldItalic'), url(../fonts/roboto/700i.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/vollkorn/400.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/vollkorn/400i.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/vollkorn/500.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/vollkorn/500i.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/vollkorn/600.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/vollkorn/600i.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/vollkorn/700.woff) format('woff');
}

@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/vollkorn/700i.woff) format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/inconsolata/500.woff) format('woff');
}