doctype html
html(ng-controller='AppController as app')
	head
		title(ng-bind='page.title') OpenBazaar
		if dev === true
			link(rel='stylesheet' href='css/app.css')
	body
		include includes/topbar
		include includes/sidebar
		
		.content
			.container-fluid.content-container.fadeOut(app-view-segment='0')

		script.
			window.gui = require('nw.gui');
			var win = gui.Window.get();
			win.setTransparent(!win.isTransparent);
		if dev === true
			script(src='js/app.js')
			script(src='http://localhost:35729/livereload.js?snipver=1')
		else
			script(src='js/app.min.js')