@import "includes/functions";
@import "includes/mixins";
@import "includes/animations";
@import "themes/default";
@import "components/scrollbar";
@import "components/topbar";
@import "components/sidebar";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html,
body {
  height: 100%;
}

body {
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: 0 0, 96% 97%;
  background-size: auto, 64px;
  color: #666;
}

p {
  color: #444;
  line-height: 1.6em;
  margin-bottom: 30px;
}

.help-block {
  color: #666 !important;
  line-height: 1.6em;
  margin-bottom: 0;
}

pre {
  font-family: Inconsolata;
  &.clear {
    border: 0;
    background: transparent;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    color: lighten(#444, ($i - 1) * 9);
    font-size: 24px - (($i - 1) * 2);
    margin-bottom: 15px;
    margin-top: 0;
    -webkit-user-select: none;
  }
}

.form-control {
  transition: border-color 250ms ease-in-out;
}

.mdi {
  font-size: 16px;
}

#content {
  padding: 15px;
  padding-top: 50px;
}

.wrap {
  padding-left: 50px;
}

.section-header {
  min-height: 30px;
  margin-bottom: 15px;
  line-height: 1.6em;

  &.pinned {
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 50px;
    left: 50px;
    right: 30px;
    z-index: 999;
    padding: 10px 15px 10px 30px;
  }

  .section-title h2 {
    margin: 0;
    line-height: 30px;
  }

  .section-controls,
  .section-controls-sm {
    text-align: right;
    padding-top: 0;
  }
}

.btn:focus,
.btn:active {
  outline: none;
}

.form {
  label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
  }
}

.market {
  @include transition(box-shadow 0.3s);
  &:hover {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.3);
  }
}

.identicon-center {
  cursor: pointer;

  img {
    @extend .center-block;
    transition: opacity 250ms ease-in-out;
    opacity: 0.4;
  }

  &:hover img {
    transition: opacity 250ms ease-in-out;
    opacity: 1;
  }
}

.tab-set {
  position: relative;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: -15px;
  padding: 0 15px;
  position: fixed;
  left: 50px;
  right: 15px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);

  border-bottom: 1px #eee solid;
  margin-bottom: 15px;

  font-size: 16px;
  -webkit-user-select: none;

  .title {
    font-size: 24px;
    color: #444;
    margin-right: 20px;

    h1 {
      margin: 0;
    }
  }

  li {
    vertical-align: text-top;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    height: 40px;
    line-height: 41px;

    &.active a {
      color: $brand-secondary;
      font-weight: 800;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $md-blue-300;
    transition: color 250ms ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: $md-blue-800;
    }
  }
}

.messages {
  tr {
    cursor: pointer;
  }
  tr:first-of-type td {
    border-top: 0;
  }
  .unread {
    font-weight: bold;

    .preview {
      font-weight: 400;
    }
  }
  .date {
    text-align: right;
  }
}

.tab-content {
  position: absolute;
  left: 30px;
  right: 30px;
  margin-top: 45px;
}

.help-block {
  font-size: 12px;
  color: #aaa;
}

a:hover {
  text-decoration: none;
}

.navbar {
  .navbar-form {
    padding: 0;
  }
  .ob-logo {
    display: none;
  }

  .nav a.icon {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .floating-help {
    position: absolute;
    margin-top: 15px;
  }
}

.ob-logo {
  .ob-icon {
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .ob-text {
    font-size: 3em;
  }
}

.home-search {
  position: absolute;
  top: 100px;
  left: 10%;
  right: 10%;

  .navbar-header {
    display: none;
  }

  .navbar-form {
    width: 100%;
  }

  .ob-logo {
    @include center-block;
    width: 300px;
    text-align: center;
    .ob-icon {
      @include center-block;
      width: 150px;
      height: 150px;
    }
  }

  .form-control {
    @include center-block;
    width: 100%;
  }
}

.private {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 10px #444;
  transition: all 100ms ease-in-out;

  &:hover {
    transition: all 100ms ease-in-out 1500ms;
    color: #444;
    text-shadow: 0;
  }

}

.navbar-nav .mdi {
  font-size: 24px;
}

.mdi-message {
  transform: scaleX(-1);
}

.dark-blue {
  color: $brand-secondary;
}

.triple-wobble {
  -webkit-animation-iteration-count: 3;
  -webkit-animation-duration: 1000ms;
}

.fixed-alerts {
  position: absolute;
  right: 10px;
  top: 72px;

  min-width: 200px;
  width: auto;
}

.form-control {
  &:focus {
    @include box-shadow(0 0 0 0 $md-light-blue-500);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;

  background-image: url(http://i.imgur.com/9XmYezj.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center center;

  overflow: hidden;
  opacity: 0.8;
  pointer-events: none;

  &.market {
    background-image: url(http://i.imgur.com/HliQ0Ry.jpg);
  }
}

.block-shade {
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.my-market {
  padding-top: 200px;
  margin-bottom: 50px;

  .section-header:first-of-type {
    margin-bottom: 200px;
  }

  .market-name {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    small {
      opacity: 0;
      color: rgba(255, 255, 255, 1);
      font-size: 12px;
      transition: opacity 250ms ease-in-out;
    }

    &:hover small {
      opacity: 1;
    }
  }

  .header-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 15px 30px;

    background-color: rgba(255, 255, 255, 0.8);
  }

  .product-table {
    margin: 0;

    .title {
      width: 200px;
    }

    .price i {
      margin-top: -2px;
      margin-left: -10px;
      font-size: 24px;
      opacity: 0.5;
    }

    .short {
      width: 450px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
