.row.section-header
	.col-sm-6.section-title
		h2 Browse Connected Markets
		.text-muted
			small Viewing 
				strong {{peers.length}} 
				| of  
				strong {{peers.length}}
	.col-sm-6.section-controls
		button.btn.btn-default.btn-sm Sort By

.row
	.col-sm-3(ng-repeat='peer in peers track by $index' ng-click='openMarket(peers[$index].guid)')
			identicon.identicon-center(icon-size='150' hash='peers[$index].guid')
			.text-center {{peers[$index].nick}}