.my-market.fadeOut(ng-if='market.nickname')
	.backdrop.market
		//- img(src='http://i.imgur.com/9XmYezj.jpg')

	.row.section-header.pinned
		.col-sm-6.section-title
			h2 Connected Market
		.col-sm-6.section-controls
			button.btn.btn-sm Trust Notary
			| 
			button.btn.btn-sm.text-success: strong Trusted Arbiter
			| 
			button.btn.btn-primary.btn-sm Send Message

	.row
		.col-sm-12
			h1 {{market.nickname}}

		.col-sm-12
			.block-shade
				//- identicon.pull-right(icon-size='85' hash='guid')
				small
					strong GUID: 
					| {{ market.guid | uppercase }}
				p {{market.text}}
				hr
				table.table.product-table
					thead
						tr
							th Contract Title
							th Description
							th Price
					tbody
						tr(ng-repeat='contract in contracts')
							td.title {{contract.item_title}}
							td
								.short {{contract.item_desc}}
							td.price 
								i.mdi.mdi-currency-btc
								| {{contract.item_price}}
	.row.section-header
		.col-sm-6.section-title
			h2 Details

	.row
		.col-sm-12
			.block-shade
				.form
					.form-group(ng-if='market.email')
						.row
							.col-sm-3: label Email Address
							.col-sm-5: .form-control-static {{market.email}}
					//- .form-group
					//- 	.row
					//- 		.col-sm-3: label Namecoin Address
					//- 		.col-sm-9: pre {{market.namecoinAddress || " "}}
					.form-group
						.row
							.col-sm-3: label OpenBazaar Public Key
							.col-sm-9: .form-control-static: pre {{market.pubkey}}
					.form-group
						.row
							.col-sm-3: label Reputation Pledge
							.col-sm-5: .form-control-static 0
					.form-group
						.row
							.col-sm-3: label PGP Key
							.col-sm-8: .form-control-static: pre {{market.PGPPubKey}}
