h1 Ideas for "Home"
p.lead Here we could list active contracts, previews of incoming messages or incoming arbiter/notary notifications. Let's just look at the basic typography.
p.text-center
	strong Markets Connected:
	|  {{peers.length}}

p.text-justify Vivamus porta, mauris eu commodo tempor, lectus ante semper dolor, quis aliquet leo nulla id purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean congue aliquet fermentum. Curabitur eu tristique elit. Pellentesque tristique purus ante, at egestas mauris commodo vel. Proin risus est, sagittis tristique gravida nec, sodales quis justo. Vestibulum lacinia nisi vitae enim mattis, sed aliquam tortor rhoncus. Nulla pellentesque felis lectus, non euismod nulla hendrerit a. Proin aliquam justo in mattis varius. Ut feugiat nec orci in pretium. Etiam imperdiet laoreet commodo. Aenean consequat semper tellus eget elementum. Curabitur et sem eleifend, iaculis quam quis, malesuada neque. Morbi sodales sit amet lorem at fringilla.

p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni hic, deleniti perspiciatis debitis veniam blanditiis tempore. Sint, odit! Necessitatibus eum inventore dolores corporis quia cum voluptatum voluptatibus ea rerum dignissimos!
h1.serif Here's some serif text
p.serif Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque non libero ac rhoncus. Etiam laoreet gravida facilisis. Phasellus facilisis odio risus. Nullam commodo, eros suscipit malesuada auctor, ante nisi volutpat nisi, eu sagittis metus metus in velit. Nullam bibendum sem eu purus sollicitudin, sed commodo ligula commodo. Nunc imperdiet ligula id purus scelerisque, malesuada vulputate augue consectetur. Nunc ex neque, fringilla sed imperdiet eget, varius sed neque. Donec ullamcorper diam urna, at rutrum est accumsan venenatis. Donec nec eleifend nibh. Vestibulum pharetra pretium dapibus. Ut ultricies tempor laoreet. Etiam in erat tempus odio ullamcorper egestas dictum aliquet quam. Vivamus vel dignissim sem. Vestibulum facilisis mi mauris, ut convallis leo interdum ac. Phasellus tellus augue, convallis et hendrerit sit amet, tristique at quam.
h2.serif How about some justified serif text?
p.serif.text-justify  Curabitur lacinia placerat neque, tempor venenatis purus tincidunt sit amet. Donec nisl neque, lobortis quis ultrices non, sagittis ac augue. Curabitur ligula felis, posuere non faucibus nec, dapibus vel neque. Aliquam est dui, rhoncus a arcu eu, finibus interdum ex. Suspendisse commodo, augue ut vestibulum hendrerit, sapien sapien rhoncus metus, et congue ex justo in risus. Ut justo quam, sodales a condimentum a, cursus ac massa. Praesent sollicitudin congue viverra. Aliquam sed nisl ultricies, cursus nisl at, condimentum diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus euismod nibh et consequat auctor.
h3.serif SERIF COLUMNS!
.row.serif.text-justify
	.col-sm-4
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus magnam culpa velit id natus alias consequatur ab placeat dignissimos voluptas repudiandae tenetur eos nobis sint maxime repellat, nihil. Delectus, ea!
	.col-sm-4
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, aut, non porro possimus quia aliquam, est ut necessitatibus culpa nesciunt, eveniet. Asperiores expedita, omnis sit provident totam et alias quibusdam.
	.col-sm-4
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tempore iure ea, assumenda vitae quia quos illo ab aliquam quaerat deleniti excepturi obcaecati voluptatem culpa natus. Quos quasi nulla veritatis?


blockquote
	p.serif Somewhere, something incredible is waiting to be known.
	footer 
		| Carl Sagan

p.serif Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta numquam minus, nulla vero omnis reiciendis vel quisquam ipsum voluptates ipsam repudiandae, totam nobis, quidem placeat tempora iste dignissimos doloribus ad!
h3 H3a Header
p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sit est nulla molestiae quibusdam dolores corrupti ipsum cum, sunt quae fugit assumenda necessitatibus nihil, impedit inventore. Eius, voluptate distinctio expedita.
p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam tempora eum, ab hic architecto quo, enim mollitia tempore? Inventore nulla, necessitatibus cumque eum cupiditate porro quos placeat facere qui.
h3 H3b Header
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus magnam culpa velit id natus alias consequatur ab placeat dignissimos voluptas repudiandae tenetur eos nobis sint maxime repellat, nihil. Delectus, ea!
h4 H4a Header
.row
	.col-sm-6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, aut, non porro possimus quia aliquam, est ut necessitatibus culpa nesciunt, eveniet. Asperiores expedita, omnis sit provident totam et alias quibusdam.
	.col-sm-6
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ab doloremque delectus blanditiis quasi, ipsam eveniet optio ut, minima nostrum ad voluptates maxime beatae laudantium deserunt suscipit nemo illum sit.
h4 H4b Header
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tempore iure ea, assumenda vitae quia quos illo ab aliquam quaerat deleniti excepturi obcaecati voluptatem culpa natus. Quos quasi nulla veritatis?

.alert.alert-success  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam, minima corrupti soluta debitis non assumenda recusandae architecto id pariatur reprehenderit officia iure autem, in molestiae quidem similique dolore. Rerum!
.alert.alert-info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam, minima corrupti soluta debitis non assumenda recusandae architecto id pariatur reprehenderit officia iure autem, in molestiae quidem similique dolore. Rerum!
.alert.alert-warning  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam, minima corrupti soluta debitis non assumenda recusandae architecto id pariatur reprehenderit officia iure autem, in molestiae quidem similique dolore. Rerum!
.alert.alert-danger  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam, minima corrupti soluta debitis non assumenda recusandae architecto id pariatur reprehenderit officia iure autem, in molestiae quidem similique dolore. Rerum!
