//- div(app-view-segment='1')
ul.tabs
	//- li.title(role='presentation'): h1 Settings
	li(role='presentation' ng-class='{"active": tab.selected === 0}')
		a(href ng-click='tab.select($event, 0)') Profile
	li(role='presentation' ng-class='{"active": tab.selected === 1}')
		a(href ng-click='tab.select($event, 1)') Trusts
	li(role='presentation' ng-class='{"active": tab.selected === 2}')
		a(href ng-click='tab.select($event, 2)') Keys
	li(role='presentation' ng-class='{"active": tab.selected === 3}')
		a(href ng-click='tab.select($event, 3)') Backup
	if dev === true
		li(role='presentation' ng-class='{"active": tab.selected === 4}')
			a(href ng-click='tab.select($event, 4)') Advanced

.tab-content.fadeOut(ng-if='tab.selected === 0')
	form.form
		.row.section-header
			.col-sm-6.section-title
				h2 Your Details
			.col-sm-6.section-controls
				button.btn.btn-sm Save Changes
		.form-group
			.row
				.col-sm-3
					label Name
				.col-sm-3
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Email Address
				.col-sm-4
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Bitmessage Address
				.col-sm-9
					input.form-control
					.help-block
						| OpenBazaar uses 
						a(href) Bitmessage
						|  as our private messaging technology. This is your inbox where all messages from other network members will reside.
		.form-group
			.row
				.col-sm-3
					label Namecoin ID
				.col-sm-9
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Store Description
				.col-sm-9
					textarea.form-control

		hr
		.row.section-header
			.col-sm-10.section-title
				h2 Shipping Information
			.col-sm-2.section-controls
				button.btn.btn-sm Save Changes
			.col-sm-12
				small.text-info This information will be encrypted and only be sent to your seller when you have marked your order for payment.

		.form-group
			.row
				.col-sm-3
					label Recipient Name
				.col-sm-6
					input.form-control
					.help-block Name visible on the package.
		.form-group
			.row
				.col-sm-3
					label Stree Address
				.col-sm-9
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Street Address (cont.)
				.col-sm-9
					input.form-control
		.form-group
			.row
				.col-sm-3
					label City
				.col-sm-3
					input.form-control
		.form-group
			.row
				.col-sm-3
					label State / Province / Region
				.col-sm-3
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Zip Code
				.col-sm-2
					input.form-control
		.form-group
			.row
				.col-sm-3
					label Country
				.col-sm-4
					input.form-control

		hr
		.row.section-header
			.col-sm-10.section-title
				h2 Reputation Pledge
			.col-sm-2.section-controls
				button.btn.btn-sm Save Changes
			.col-sm-12
				small.text-info Buyers trust stores with reputation pledges more than stores without.

		.form-group
			.row
				.col-sm-3
					label Your Pledge
				.col-sm-2
					.input-group
						.input-group-addon: i.mdi.mdi-currency-btc
						input.form-control(value='0')
		.form-group
			.row
				.col-sm-3
					label Proof-of-burn address
				.col-sm-9
					input.form-control

		hr
		.row.section-header
			.col-sm-10.section-title
				h2 Act as an Arbiter
				small.text-info Offering arbitration services is an important service to the OpenBazaar community. It ensures that disputes get resolved in a responsible and informed way. If you want to act as an arbiter fill out the form below and you will be available to the community at large to serve in that capacity.
			.col-sm-2.section-controls
				button.btn.btn-sm Save Changes

		.form-group
			.row
				.col-sm-3
					label Make me an arbiter
				.col-sm-9
					.btn-group.btn-group-sm
						button.btn.btn-default(ng-model='actAsArbiter' btn-radio='true') Yes
						button.btn.btn-default(ng-model='actAaArbiter' btn-radio='false') No
		.form-group
			.row
				.col-sm-3
					label Expriences &amp; Services
				.col-sm-9
					textarea.form-control

		hr
		.row.section-header
			.col-sm-10.section-title
				h2 Act as a Notary
			.col-sm-2.section-controls
				button.btn.btn-sm Save Changes

		.form-group
			.row
				.col-sm-3
					label Make me a notary
				.col-sm-9
					.btn-group.btn-group-sm
						button.btn.btn-default(ng-model='actAsNotary' btn-radio='true') Yes
						button.btn.btn-default(ng-model='actAsNotary' btn-radio='false') No

.tab-content.fadeOut(ng-if='tab.selected==1')
	.row.section-header
		.col-sm-6.section-title
			h2 Trusted Arbiters
			small.text-info The addresses below are your trusted arbiters for transactions. You will be able to choose one at time of purchase.
		.col-sm-6.section-controls-sm
			.input-group.input-group-sm
				input.form-control(placeholder='Enter an arbiter\'s OpenBazaar GUID')
				.input-group-btn
					button.btn.btn-primary Trust Arbiter


	table.table.table-striped
		thead
			tr
				th Name
				th GUID
				th
		tbody
			tr
				td: strong seeds.openlabs.co
				td 38f2294d84c192e606b234739b5004297ccebf76
				td.text-right: i.mdi.mdi-delete

	hr
	.row.section-header
		.col-sm-6.section-title
			h2 Trusted Notaries
			small.text-info The addresses below are notaries used during transactions.
		.col-sm-6.section-controls-sm
			.input-group.input-group-sm
				input.form-control(placeholder='Enter a notary\'s OpenBazaar GUID')
				.input-group-btn
					button.btn.btn-primary Trust Notary

	table.table.table-striped
		thead
			tr
				th Name
				th GUID
				th
		tbody
			tr
				td: strong Bizarre Co. Seed [US] 
				td 5f19dd32ee5b6caeb657da6db9bd0ea40ff95d96
				td.text-right: i.mdi.mdi-delete


.tab-content.fadeOut(ng-if='tab.selected==2')
	.row.section-header
		.col-sm-6.section-title
			h2 OpenBazaar Keys
	.form-group
		.row
			.col-sm-3
				label Bitcoin Public Key
			.col-sm-9
				pre 0490d6db440d67f38fa0b98289b05c8d601fc2bdd0e6a77c61d49bccc74d11cda02b65cadd4d2137930f22c602846ac54704e4d419b00dd68d7454cca104c765aa
	.form-group
		.row
			.col-sm-3
				label Bitcoin Private Key
			.col-sm-9
				pre.private 55b990f01200eb0f39ba5153b073fc5f02a6f72a4bdf48691662e28bd699895f
	.form-group
		.row
			.col-sm-3
				label PGP Public Key
			.col-sm-9
				pre
						| -----BEGIN PGP PUBLIC KEY BLOCK-----
						| Version: GnuPG v1
						| 
						| mQENBFTRK1EBCACkw5Ohz48W0/lJJ0vtu/B6u59Pdz2iZ3H+ofHC1pSVb/Chgt4I
						| 0jfuCQDlsV4SqcDLgci/azDqQNjgxxJTQ0jDlXYPKNo2O3HiKQDhGeZZTt02vvj+
						| 6msiRZostOt+oKTl5ctuugnEnwHEpMvBnhedKSvPlj3OcLEBi8kiveIrQy6tW6p0
						| essZZS0jbhiMn2xkx+k2p4t4rfbSs616Z//zuX8Fq3KL8WcUNF+WHpZsNVhWz3ca
						| I4wOFdSvexTlHTiWOloOCBJ3CNvtmxS0a+LHhBBVci+N3k/udc9D+2k6Dd3/OPrW
						| ZZvZgPw4LoM1891HQFB0Krgnb68MpSEA0tGRABEBAAG0PkF1dG9nZW5lcmF0ZWQg
						| S2V5IChBdXRvZ2VuZXJhdGVkIGJ5IE9wZW4gQmF6YWFyKSA8Z2Z5QGdmeS5jb20+
						| iQE4BBMBAgAiBQJU0StRAhsvBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRBf
						| cRW6Wc8h+6Q+B/4wLtPKS6Sp9ogjM2abDMLzbXQFbYxKz0MXfls08aij/KqhTx5T
						| nuANl+ZmIDo5cL0S/5cM0lyxV0jPLnneBPJ5CdCeq9GQIyzWdXW0HdZlkJ05+4Z4
						| P2ASKK2WgNncjNsxmiS+ps994h7PsaXc7DzAXcb7X+U3sKPCtYbFrxTss7Fbg7hZ
						| eNfBe3Q0ATBC9/vPH5qa6sUyRJNei5N6Fr9ursGdT3+xnfOzhn0H3MhjhTzRR3h6
						| 44inuaxeT1ucvtyNqKtZtDiXwoKjAwjhp+GnJejsGYgXCRtAkfjyRGFM2UWnU0Xb
						| fBo6AoELP3g90nDIwLdw4uwlzTi7RddoadYe
						| =pNst
						| -----END PGP PUBLIC KEY BLOCK-----


.tab-content.fadeOut(ng-if='tab.selected === 3')
	.row.section-header
		.col-sm-6.section-title
			h2 Backup
		.col-sm-6.section-controls
			button.btn.btn-primary.btn-sm
				| Create a New Backup
	.row
		.col-sm-12
			table.table.table-striped
				thead
					tr
						th Filename
						//- th.text-right Date
						th.text-right Size
						th
				tbody
					tr
						td openbazaar-2015-Feb-07-06-03-12.tar.gz
						//- td.text-right Jan 20
						td.text-right 45mb
						td.text-right: i.mdi.mdi-delete

.tab-content.fadeOut(ng-if='tab.selected === 4')
	.form.form
		.row.section-header
			.col-sm-6.section-title
				h2 Advanced
			.col-sm-6.section-controls-sm
				button.btn.btn-sm Save Changes
		.row
			.col-sm-12
				.row
					.col-sm-3
						label Obelisk Server
					.col-sm-9
						.btn-group
							button.btn.btn-default.btn-sm(ng-model='useTestnet' btn-radio='true') Yes
							button.btn.btn-default.btn-sm(ng-model='useTestnet' btn-radio='false') No
				.row
					.col-sm-3
						label Obelisk Server
					.col-sm-4
						input.form-control(placeholder='tcp://85.25.198.97:8081')



		.row.section-header
			.col-sm-6.section-title
				h2 Demos
			.col-sm-6.section-title
				h2 Developer

		.row
			.col-sm-6
				.btn-group-vertical.btn-block
					button.btn.btn-default(ng-click='dev.test.newMessage($event)')
						i.mdi.mdi-comment-text
						|  New Message
					button.btn.btn-default.disabled(ng-click='dev.screenshot.capture($event)' disabled)
						i.mdi.mdi-camera-iris
						|  Screenshot (Ctrl+S)
					button.btn.btn-default(ng-click='dev.test.newNotification($event)')
						i.mdi.mdi-desktop-mac
						|  Desktop Notification

			.col-sm-6
				.btn-group-vertical.btn-block
					button.btn.btn-default(ng-click='dev.openTools($event)')
						i.mdi.mdi-google-chrome
						| Show DevTools
					button.btn.btn-default
						i.mdi.mdi-broom
						|  Clear Cache
					button.btn.btn-default
						i.mdi.mdi-broom
						|  Clear Peers
					button.btn.btn-default
						i.mdi.mdi-stop
						|  Stop Server


		//- .col-sm-9
		//- 	a.thumbnail(ng-if='dev.screenshot.url')
		//- 		img.screenshot-display(ng-src="{{dev.screenshot.url}}")
			//- h2 Log
			//- pre
			//- 	div(ng-repeat='line in log.lines track by $index') {{line}}
